<h2 class="title-large">Domain: {{.DomainResult.Domain}}</h2>
{{if .DomainResult.Error}}
<div class="error">Error: {{.DomainResult.Error}}</div>
{{else}}
<dl>
    {{if .DomainResult.Issue}}
    <dt>'issue' Records ✅</dt>
    <dd>
        <ul>
        {{range .DomainResult.Issue}}
            <li>
                <a href="/providers/{{normalizeCA .}}.html" 
                   hx-get="/snippets/providers/{{normalizeCA .}}.html" 
                   hx-target="#content" 
                   hx-push-url="/providers/{{normalizeCA .}}.html" 
                   class="link-primary">{{.}}</a>
            </li>
        {{end}}
        </ul>
    </dd>
    {{end}}
    {{if .DomainResult.IssueWild}}
    <dt>'issuewild' Records ✳️</dt>
    <dd>
        <ul>
        {{range .DomainResult.IssueWild}}
            <li>
                <a href="/providers/{{normalizeCA .}}.html" 
                   hx-get="/snippets/providers/{{normalizeCA .}}.html" 
                   hx-target="#content" 
                   hx-push-url="/providers/{{normalizeCA .}}.html" 
                   class="link-primary">{{.}}</a>
            </li>
        {{end}}
        </ul>
    </dd>
    {{end}}
    {{if .DomainResult.Iodef}}
    <dt>'iodef' (Incident Reporting) Records 📬</dt>
    <dd>
        <ul>
        {{range .DomainResult.Iodef}}
            <li>{{.}}</li>
        {{end}}
        </ul>
    </dd>
    {{end}}
    {{if .DomainResult.Records}}
    <dt>Raw CAA DNS Response</dt>
    <dd>
        <pre>{{range .DomainResult.Records}}{{.}}
{{end}}</pre>
    </dd>
    {{end}}
</dl>
{{if not (or .DomainResult.Issue .DomainResult.IssueWild .DomainResult.Iodef .DomainResult.Records)}}
<p>No CAA records found for this domain.</p>
{{end}}
{{end}}
